* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #12475F;
    color: #fff;
    padding-bottom: 5rem;
}

ul {
    list-style: none;
}

a {
    color: #FFECAE;
    font-size: 1.45rem;
    text-decoration: none;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

header {
    height: 100vh;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    padding-bottom: 8rem;
}

header div {
    align-self: end;
    justify-self: center;
}

header h1 {
    font-size: 4.2rem;
}

header p {
    font-size: 1.7rem;
}

ul#main-menu {
    display: flex;
    justify-content: space-between;
}

ul#main-menu a {
    display: inline-block;
    padding: 10px 20px;
    transition: border-bottom 0.35s ease-in-out;
}

ul#main-menu a:hover {
    color: #FFC760;
    border-bottom: 3px solid #FFC760;
}

main.main {
    padding-top: 2rem;
    /* display: grid;
    grid-template-columns: 1fr;
    justify-items: center; */
}

main #waiting-text {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    /* display: none; */
}

#results .user {
    margin-bottom: 1rem;
    padding: 10px 20px;
    background: #232323;
    justify-self: start;
    border-radius: 4px;
    font-size: 1.35rem;
}

#results .user:last-child {
    margin-bottom: 0;
}

#results .user span {
    background-color: #E20045;
    font-weight: bold;
    padding: 0 3px;
}

#waiting-loader {
    display: block;
    background: #333;
    width: 64px;
    height: 64px;
    text-align: center;
    display: none;
}

